<head>
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

      .jm-font{
          font-family: 'Jeju Myeongjo', serif;/*웹 폰트 지정*/
          color: black;
      }
      .b {
        background-color: #BBDEFB;
        padding: 10px 20px;
      }
    </style>
</head>

{% if page.title == "Home" %}

<h5 class="jm-font"> 머리말 </h5>
<p class="jm-font"> - 이번에는 Tensorflow js와 WebGL을 통해 서버에서가 아닌 기기의 자원으로 AI가 동작하게 하는 방법을 알아본다. 더불어 이 과정에서 다른 확장자의 모델끼리의 변환과
                      경량화에 대해서도 조금 다룬다.</p>
<p class="jm-font"> - 평소에 이런 고민을 자주 하곤 한다. 기술이 비약적으로 발전하면서 개인이 좋은 성능의 컴퓨터를 가질 수 있게되었다. 그것도 주머니속에 넣고 다닐 수 있는 스마트폰은
                      거의 모두가 가지고 있다. 그 외에도 데스크탑, 노트북, 심지어는 자동차 등의 다양한 기기에도 꽤 좋은 성능의 컴퓨터가 들어간다. 근데 이 좋은 성능의 컴퓨터들을 항상
                      100% 사용하지는 않는다. 그래픽 작업이 필요해서 비싸게 구입한 그래픽카드는 웹 서핑하는 동안 차갑게 식어있다. 나는 가끔 이런 자원들이 아깝다고 생각한다. 티끌모아
                      태산이라고 이러한 자원들을 긁어모아 사용할 수 있다면 그또한 얼마나 효율적인 자원활용이 아니겠는가.</p>
<p class="jm-font"> - 자연스럽게 엣지컴퓨팅에 대해서도 관심을 가지게 되었다. 엣지컴퓨팅이란 이러한 사용자 주변의 자원들을 분산하여 활용하는 것을 말한다. 만약 내가 AI를 이용해 작동하는
                      어플리케이션을 배포했다면, 큰 GPU들이 있는 서버를 가지고 있어야하고 모든 사용자들의 AI동작은 이 서버에서 동작한다. 이때 만약 사용자들의 개인pc, 스마트폰에서 AI가
                      알아서 자원을 긁어와서 동작한다면? 서버의 자원부하가 해소된다. 그리고 내 손안에서 자글자글하게 AI가 돌아가고 있다는 것이 꽤나 재밌다!</p>

<div class="row g-5 mb-5" style="text-align:left">
<hr width = "90%" color = "black">
<h5> Project Links </h5>
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      includes publications.html
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
</div>
